:root { 
--gray_50_01:#fafbff; 
--black_900_3d:#0000003d; 
--blue_gray_100_01:#d7d7d7; 
--gray_800_01:#4c4c4c; 
--deep_purple_100:#d0cde1; 
--gray_50:#fbfbfd; 
--teal_300:#57b894; 
--black_900_01:#020000; 
--black_900:#000000; 
--white_A700_79:#ffffff79; 
--blue_gray_800:#3f3d56; 
--gray_200_01:#e6e8ec; 
--blue_gray_900_01:#2f2e41; 
--gray_200_02:#e8e8e8; 
--blue_gray_900:#111b47; 
--pink_300:#ff6584; 
--deep_orange_100:#ffb8b8; 
--pink_100:#efb7b9; 
--gray_200_03:#e7e7e7; 
--gray_600:#9f616a; 
--gray_900_02:#12181b; 
--blue_gray_200:#b0b8bc; 
--gray_600_01:#a1616a; 
--blue_gray_100:#cdd1d4; 
--blue_gray_300:#939ea4; 
--blue_gray_600:#505f98; 
--gray_800:#424242; 
--indigo_50:#e9ecf6; 
--gray_900:#091133; 
--gray_900_01:#272727; 
--blue_gray_500:#6e7f88; 
--blue_gray_600_01:#5d6970; 
--gray_200:#f0f0f0; 
--blue_50:#e7ecff; 
--gray_100:#f2f2f2; 
--black_900_2f:#0000002f; 
--indigo_300:#6f7cb2; 
--indigo_100:#ced3e8; 
--indigo_200:#929ecc; 
--indigo_A700:#2c54ff; 
--gray_100_01:#eff1f9; 
--indigo_900:#222f65; 
--white_A700:#ffffff; 
--indigo_800:#37447e; 
}